SpeechRecognition
pyaudio                                                 
# if  PyAudio not installed showing some C++ error   
# Go to https://stackoverflow.com/questions/52283840/i-cant-install-pyaudio-on-windows-how-to-solve-error-microsoft-visual-c-14
